.black{
    background-color: #101010;
}

.dark{
    background-color: #252525;
}

.gray{
    background-color: #3C3C3C;
}

.box{
    display: flex;
    word-break: break-all;
    color: white;
    font-size: larger;
    margin: 5px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainbox {
    display: flex;
    flex-direction: column;
}

.header, .ending{
    height: 25%;
    width: auto;
    margin: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.middle{
    height: 50%;
    width: auto;
    
    display: flex;
    flex-direction: row;
}

.box1, .box7{
    flex-direction: row;
    justify-content: space-between;
}

.box2{
    height: auto; 
    width: 17%;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
}

.box3{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: auto;
    width: auto;
}

.box4{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
    height: auto;
    width: 17%;
}

.box5{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100%;
    width: auto;
}

.box6{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: row !important;                
    align-items: flex-start;
    justify-content: center;
}

.box2356{
    height: auto;
    width: 83%;

    display: flex;
    flex-direction: column;
}

.box235{ 
    width: auto;
    height: 100%;
    
    display: flex;
    flex-direction: row;
}

.box35{
    height: auto;
    width: 83%;

    display: flex;
    flex-direction: column;
}

.btn {
    cursor: pointer;
    background-color: #101010;
    border: 45px solid #101010;
    white-space: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: aliceblue;
    font-size: 20px;
    margin: auto;
}
.btnGroup{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.zag1 {
    font-size: 50px;
}
.zag2 {
    font-size: 20px;
}
.altbox{
    background-color: black;
    border: 2px black solid;
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    width: 20%;
    height: auto;
    text-align: center;
    color: white;
}

#enterbutton, #showBtn, #delBtn, #saveBtn, #cases {
    background-color: #101010;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width:100px; 
    height:25px;
}

#enternum, #area, #urlpic {
    background-color: #3C3C3C;
    color: white;
    border-radius: 5px;
    height:20px;
    width: 200px;
}